<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
	<meta charset="UTF-8" />
	<title>Home Page</title>
</head>
<body>
<section>
<div class="view" style="background-image: url('https://images.unsplash.com/photo-1542291026-7eec264c27ff?ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8c2hvZXN8ZW58MHx8MHx8&ixlib=rb-1.2.1&w=1000&q=80'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
<div class="row mt-5 p-3 mb-2 ">
<div th:if="${session.message}" th:classappend="${session.message.type}" class="mt-3 alert" role="alert">
 <p th:text="${session.message.content}"></p>
 <th:block th:text="${#session.removeAttribute('message')}">	</th:block>
</div>	

	<div class="col-md-6 p-3 mb-2 ">
	<div class="my-5 pt-5 container text-center text-primary">
		<h1>Welcome to Sporty Shoes</h1>
		<p class="mt-4 text-info">Shop a fresh collection filled with comfort for Men,Women and Kids. Made to worn all day,
everyday anytime and anywhere</p>
	</div>
	</div>
	
	<div class="col-md-5 offset-md-1">
	
		<form class="shadow-lg p-4 mb-5 bg-dark rounded"  th:action="@{/dologin}" action="/dologin" method="POST">
		<div class="container text-custom my-3">
			<h4 class="text-center text-primary font-weight-bold">LOGIN HERE</h4>
			</div>
		<div th:if="${param.error}" class="alert alert-danger">	
			Invalid Username or Password
		</div>
		<div th:if="${param.logout}" class="alert alert-success">	
			Logged out successfully
		</div>
		  <div class="mb-3">
		    <label for="exampleInputEmail1"  class="form-label text-info font-weight-bold ">Email address</label>
		    <input type="email" class="form-control text-infofont-weight-bold" name="username" id="exampleInputEmail1" aria-describedby="emailHelp">
		    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
		  </div>
		  <div class="mb-3">
		    <label for="exampleInputPassword1" class="form-label text-info font-weight-bold">Password</label>
		    <input type="password" class="form-control text-info" name="password" id="exampleInputPassword1">
		  </div>
		  
		  <div class="container text-center my-3">
		  	<button type="submit" class="btn btn-info btn-lg text-white font-weight-bold">Log in</button>
		  	</div>
		</form>
	</div>
</div>
</div>
</section>
	
</body>
</html>
